<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1> My Shoe Closet </h1>
    <h3> Collection </h3>
<nav>
    <button id="newBtn"> 
        <a href="/mycloset/new">Add a Shoe</a>
    </button>
</nav>
    <div>
        <ul>
        <% for(let i = 0; i < allShoes.length; i++) { %>
            <li>
                <a href="/mycloset/<%=i%> ">
                <img src="<%= allShoes[i].img %>">
                <p><%= allShoes[i].name  %> </p>
                </a>
                <button class="edit"><a href="/mycloset/<%=i%>/edit">Edit</a></button>
                <form action="/fruits/<%=i%>?_method=DELETE" method="POST">

            </li>

       <% } %> 
    </ul>
    </div>
</body>
</html>