<%- include('./partials/header.ejs') %>
<body>
<div class="index_header">
    <h1> My Shoe Closet </h1>
    <h3> Collection </h3>
</div>
<nav>
    <button id="new_btn"> <a href="/mycloset/new">Add a New Shoe</a></button>
</nav>

        <div class="container">
        <% for(let i = 0; i < shoes.length; i++) { %>
            <div class="item">
                <a href="/mycloset/<%=shoes[i].id%>  ">
                <img class="img" src="<%= shoes[i].img %>">
            </a>
                  <p> <%= shoes[i].name  %> </p> 
                
                <!-- Edit -->
                <button><a href="/mycloset/<%=shoes[i].id; %>/edit">Edit</a></button>
                <!-- Delete Form -->
                <form action="/mycloset/<%=shoes[i].id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete">
                </form>
        </div>

       <% } %> 
    </div>
</body>

    <%- include('./partials/footer.ejs') %>