<%- include('./partials/header.ejs') %>
<body class="show_pg">
    <div class="show_header">
    <h1> <%= shoes.brand %> </h1>
    <h2> <%= shoes.name  %> </h2>
    </div>

    <div class="show_info">
    <img class="show_img" src="<%= shoes.img %> ">
    <br>
        <ul class="show_list">
            <li><strong>Color: </strong> <%= shoes.color %></li>
            <li><strong>Price: </strong> $<%= shoes.price %></li>    
            <li><strong>Comfortable: </strong> <%= shoes.comfortable %></li>  
            <li><strong>Category: </strong> <%= shoes.category %></li>
            <nav>
                <button class="nav_Btn"><a href="/mycloset"> Back to Collection </a></button>
            </nav>
        </ul>
    </div>
    
</body>
    <%- include('./partials/footer.ejs') %>