<%- include('./partials/header.ejs') %>

    <div>
    <h1> <%= shoes.brand %> </h1>
    <h2> <%= shoes.name  %> </h2>
    </div>

    <img src="<%= shoes.img %> ">

    <section>
        <ul>
            <li>Color: <%= shoes.color %></li>
            <li>Price: $<%= shoes.price %></li>    
            <li>Comfortable: <%= shoes.comfortable %></li>  
            <li>Category: <%= shoes.category %></li>
        </ul>
    </section>
    
    <%- include('./partials/footer.ejs') %>